<nb-card>
  <nb-card-header class="row">
    <div class="col-10">
      {{ this.resource.listConfig.title }}
    </div>

    <div class="col-2">
      <button
        nbButton
        status="primary"
        [nbContextMenu]="items"
        nbContextMenuTag="my-context"
      >
        {{ "rest-list.export" | translate }}
      </button>
    </div>
  </nb-card-header>

  <nb-card-body
    [nbSpinner]="isFetching"
    nbSpinnerSize="large"
    nbSpinnerStatus="primary"
  >
    <div class="row mb-5" *ngIf="this.resource.listConfig.searchFilter">
      <div
        class="col-lg-3 col-md-6 col-xs-12 input-space"
        *ngIf="this.resource.listConfig.searchFilter.filterBy.length > 1"
      >
        <nb-select
          [placeholder]="'rest-list.filterPlaceholder' | translate"
          fullWidth
          (ngModelChange)="selectFilterBy($event)"
        >
          <nb-option
            *ngFor="
              let filter of this.resource.listConfig.searchFilter.filterBy
            "
            [value]="filter"
            >{{ filter | titlecase }}</nb-option
          >
        </nb-select>
      </div>

      <div
        class="col-lg-3 col-md-6 col-xs-12 input-space"
        *ngIf="this.resource.listConfig.searchFilter.filterBy.length > 1"
      >
        <nb-select
          [placeholder]="'rest-list.operator' | translate"
          fullWidth
          [(ngModel)]="filterBy"
        >
          <nb-option
            *ngFor="let operator of filterOperator"
            [value]="operator.value"
            >{{ operator.name | translate }}
          </nb-option>
        </nb-select>
      </div>

      <div
        class="col-lg-4 col-md-12 col-xs-12 input-space"
        [ngClass]="{ 'col-12': this.resource.listConfig.searchFilter == null }"
      >
        <input
          nbInput
          #search
          (keyup.enter)="onFilter(search.value)"
          fullWidth
          [placeholder]="'rest-list.searchPlaceholder' | translate"
          type="text"
        />
      </div>

      <div class="col-lg-1 col-md-6 col-xs-6 input-space">
        <button
          nbButton
          fullWidth
          status="primary"
          (click)="onFilter(search.value)"
        >
          <nb-icon icon="search-outline"></nb-icon>
        </button>
      </div>
      <div class="col-lg-1 col-md-6 col-xs-6 input-space">
        <button nbButton fullWidth status="primary">
          <nb-icon icon="plus-outline"></nb-icon>
        </button>
      </div>
    </div>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (deleteConfirm)="onDeleteConfirm($event)"
      (createConfirm)="onCreateConfirm($event)"
      (userRowSelect)="detailEntity($event)"
      (custom)="onCustom($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
